<nav class="navbar navbar-expand-md navbar-dark fixed-top flex-column" style="background-color: rgb(9, 170, 90)">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/webPHP/public/uploads/Plate.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="brandname">KIM's GARDEN</span>
        </a>
    
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hỗ trợ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Liên hệ</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" method="get" action="/php/twig/frontend/pages/timkiem">
                <input class="form-control mr-sm-2" type="text" placeholder="Tìm kiếm" aria-label="Search"
                    name="keyword_tensanpham">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Tìm kiếm</button>
            </form>
        </div>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/php/twig/frontend/thanhtoan/giohang">Giỏ hàng</a>
            </li>
            <li class="nav-item text-nowrap">
                {% if session['username'] %}
                <!-- Nếu đã đăng nhập thì hiển thị nút Đăng xuất -->
                <a class="nav-link" href="/php/twig/frontend/pages/logout">Đăng xuất</a>
                {% else %}
                <!-- Nếu chưa đăng nhập thì hiển thị nút Đăng nhập -->
                <a class="nav-link" href="/php/twig/frontend/pages/login">Đăng nhập</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>